<h2>Recover Password</h2>

<form action="<%= recover_password_path(@conn, :recover_password) %>" method="post">
  <div class="field">
    <label for="email" style="display: none;">Email<br></label>
    <input type="email" id="email" name="email" placeholder="Email">
  </div>

  <div class="actions">
    <button type="submit">Recover Password</button>
  </div>
</form>
